<%- include('cabecera.ejs') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>
    <br />
    <h1><%= __('Bulletin board') %></h1>
    <br />
    <% anuncios.forEach(anuncio => { %>
    <!-- <img src="/images/agentes/<%= anuncio.imagen %>" alt="" -->
    <div>
      <h3>
        <strong
          ><%= __('Article ') %><%= anuncio.nombre %> | <%=
          __(anuncio.venta_string) %></strong
        >
      </h3>
      <img src="<%" ="anuncio.rutaFoto" % /> height="250">
      <p>
        <strong><%= __('Price ') %><%= anuncio.precio %>€.</strong> Tags: <%=
        anuncio.tags %>
      </p>
      <br />
      <br />
      <br />
    </div>
    <% }) %>
  </body>
</html>

<%- include('pie.ejs') %>
